{% extends 'base.html.twig' %}
{% block body %}
    <h1 style="padding: 20px 0;">Créer un nouvel article</h1>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.title) }}
    </div>
    <div class="form-group">
        {{ form_row(form.content) }}
    </div>
    <div class="form-group">
        {{ form_row(form.submit, {'attr': {'class': 'button primary'}, 'label': 'Créer'}) }}
        <a style="margin: 20px 0;" href="{{ path("posts.index") }}" class="button">Annuler</a>
    </div>
    {{ form_end(form) }}
{% endblock %}